.navbar{

    width: 1280px;
   margin: 0 auto;

}
.menu-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FF0000;

}
.menu{
    text-align: center;
}
li:last-child{
    margin: 0;
}

.menu-list{
    margin: 0 auto;
    display: inline-block;
}
.menu-item{
    display: inline-block;
    margin-right: 72px;
}
.img{
    height: 789px;
}
.title{


    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.p1{
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
}
.cont{

    width: 1280px;
   margin: 0 auto;

}
.p2{
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;

}
.botton{
    border: #FF0000;
    font-family: 'Montserrat';
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding:18px 43px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
background-color: red;
    color: #FFFFFF;

}
.content{
    text-align: center;
}
.footer-content{
    text-align: end;
}
